@import "style.css";

/* Defines the page layout using a grid */
main {
    grid-area: main;
    display: grid;
    grid-template-areas: "col1 col2";
    grid-template-columns: 3fr 1.5fr;
}

/* Assigns each major section to a part of the grid */
.col1 {
    grid-area: col1;
    display: flex;
    flex-flow: column;  
    align-content: start;
    height: 120vh;
      
}

.col2 {
    grid-area: col2;
    background-color: paleturquoise;
    overflow: scroll;
    align-content: start;
    height: 120vh;
    overflow-y: auto;
}

.title {
    margin-bottom: 10px;
}

#map {
    flex: 1 1 auto;
    border-style: solid;
    border-width: 0.25ch;

    margin: 10px;
}

#legend {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1;

    width: 250px;
    background: #fff;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: black;
    padding: 10px;
    height: 180px;
}

.legend-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #000;
}

.dot.checked {
    background-color: #747474;
}

.legend-item p {
    margin: 0;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mapPopup {
    background-color: #f8f9fa;
    color: #212529;
    font-size: 16px;
    padding: 10px;
}

.popupTitle {
    border: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 1px;
    border-color: black;

    padding-bottom: 5px;
    margin-bottom: 10px;
}

#filter {
    position: sticky; 
    top: 0;
    background: lavender;
    margin-bottom: 1vw;
}

.card {
    background-color: white;
    margin-right: 2vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 2.5%;
    padding: 1vw;
}
