@import "style.css";

/* General section styling */
#intro {
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.intro-title {
    margin-bottom: 20px;
}

.intro-title h2 {
    margin: 0;
    font-size: 24px;
}

.intro-title p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.intro-col1, .intro-col2 {
    flex: 1;
}

.intro-col1 {
    background-color: white;
    border: black;
}

.intro-col2 {
    background-color: white;
}

/* word cloud styles */
.word-cloud {
    width: 700px;
    height: 300px;
    position: relative;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff762; /* Background color for visibility */
}

.word {
    position: absolute;
    white-space: nowrap;
    font-family: Arial, sans-serif;
}

/* map and side panel */
main {
    grid-area: main;
    display: grid;
    grid-template-areas: "col1 col2 col3";
    grid-template-columns: 0.5fr 3fr 1.5fr 0.5fr;
    margin: 1rem;
}

/* Assigns each major section to a part of the grid */
.main-col2 {
    grid-area: col2;
    display: flex;
    flex-flow: column;  
    align-content: start;
    height: 100vh;
}

.main-col3 {
    grid-area: col3;
    background-color: rgb(155, 198, 220);
    overflow: scroll;
    align-content: start;
    height: 100vh;
    overflow-y: auto;
    margin-left: 1rem;
}

.title {
    margin-bottom: 10px;
}

#map {
    flex: 1 1 auto;
    border-style: solid;
    border-width: 3px;
}

#legend {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1;
    width: 230px;
    background: white;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: black;
    padding: 10px;
    height: auto;
}

#legend h1 {
    font-size: 16px;
    margin-bottom: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.legend-item input[type="checkbox"] {
    margin-right: 10px;
}

.legend-item label {
    display: flex;
    align-items: center;
}

.square {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 15px;
    border: 1.5px solid black;
}

.legend-item span {
    margin-left: 10px;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mapPopup {
    background-color: #f8f9fa;
    color: #212529;
    font-size: 16px;
    padding: 10px;
}

.popupTitle {
    border: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 1px;
    border-color: black;

    padding-bottom: 5px;
    margin-bottom: 10px;
}

#panel-info {
    position: sticky;
    top: 0;
    background-color: rgb(182, 222, 243);

    display: flex;
    flex-direction: column; 
    text-align: center;
    padding: 20px;
    margin-bottom: 1vw;
    z-index: 1;
}

/* Button styling */
#btn {
    background-color: #ffe41b; 
    border: none; 
    border-radius: 12px; /* Curved corners */
    padding: 5px; 
    margin-top: 10px;
    font-weight: bold; 
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 2px 2px rgb(194, 141, 17); /* Rectangle shadow */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

/* Button hover effect */
#btn:hover {
    background-color: #e4d561; 
    transform: translateY(-2px); /* Lift the button slightly */
}

/* Button active effect */
#btn:active {
    background-color: #e4d561; 
    transform: translateY(0); /* Button returns to original position */
}

.card {
    background-color: white;
    margin: 0 1rem 1rem 1rem;
    border: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 2.5%;
    padding: 1rem;
}

#panel-end {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
    width: 80%;
    transform: translateX(10%);
}

/* Typography */

main h2 {
    margin-top: 20px;
    margin-left: 20px;
}
