@import "style.css";

/* General section styling */
#intro {
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.intro-row1 {
    margin-bottom: 20px;
}

.intro-title h2 {
    margin: 0;
    font-size: 24px;
}

.intro-title p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.intro-row2 {
    display: flex;
    gap: 20px;
}

.intro-col1, .intro-col2 {
    flex: 1;
}

.intro-col1 {
    background-color: white;
    border: black;
}

.intro-col2 {
    background-color: white;
}

/* word cloud styles */
.word-cloud {
    width: 700px;
    height: 300px;
    position: relative;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff762; /* Background color for visibility */
}

.word {
    position: absolute;
    white-space: nowrap;
    font-family: Arial, sans-serif;
}

/* map and side panel */
main {
    grid-area: main;
    display: grid;
    grid-template-areas: "col1 col2 col3";
    grid-template-columns: 1.5fr 3fr 1.5fr;
}

.col1 {
    grid-area: col1;
    overflow: scroll;

}
/* Assigns each major section to a part of the grid */
.col2 {
    grid-area: col2;
    display: flex;
    flex-flow: column;  
    align-content: start;
    height: 100vh;
      
}

.col3 {
    grid-area: col3;
    background-color: rgb(155, 198, 220);
    overflow: scroll;
    align-content: start;
    height: 100vh;
    overflow-y: auto;
}

.title {
    margin-bottom: 10px;
}

#map {
    flex: 1 1 auto;
    border-style: solid;
    border-width: 0.25ch;

    margin: 10px;
}

#legend {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1;
    width: 10vw;
    background: #fff;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: black;
    padding: 10px;
    height: auto;
}

#legend h1 {
    font-size: 16px;
    margin-bottom: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.legend-item input[type="checkbox"] {
    margin-right: 10px;
}

.legend-item label {
    display: flex;
    align-items: center;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #000;
}

.legend-item span {
    margin-left: 10px;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mapPopup {
    background-color: #f8f9fa;
    color: #212529;
    font-size: 16px;
    padding: 10px;
}

.popupTitle {
    border: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 1px;
    border-color: black;

    padding-bottom: 5px;
    margin-bottom: 10px;
}

#filter {
    position: sticky;
    top: 0;
    background-color: rgb(155, 198, 220, 0.5);

    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    justify-content: center; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Button styling */
#filter button {
    height: 5vh;
    background-color: #ffe41b; 
    text-align: center;
    line-height: 2vh;

    border: none; 
    border-radius: 12px; /* Curved corners */
    padding: 12px 24px; 
    font-size: 14px; 
    font-weight: bold; 
    color: #333;
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 8px rgb(194, 141, 17); /* Rectangle shadow */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

/* Button hover effect */
#filter button:hover {
    background-color: #e4d561; 
    transform: translateY(-2px); /* Lift the button slightly */
}

/* Button active effect */
#filter button:active {
    background-color: #e4d561; 
    transform: translateY(0); /* Button returns to original position */
}

.card {
    background-color: white;
    margin-right: 2vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 2.5%;
    padding: 1vw;
}

/* Typography */

main h2 {
    margin-top: 20px;
    margin-left: 20px;
}
